<% content_for :title, @jeweler.name %>
<h1><%= @jeweler.name %> (<%= link_to "Edit", edit_jeweler_path(@jeweler) %> | <%= link_to "Delete", @jeweler, data: { turbo_method: :delete } %>)</h1>

<h2>Wealth : CHF <%= display_price(@jeweler.wealth) %></h2>

<h2>Jewels</h2>
<h3><%= link_to "New Jewel", new_jeweler_jewel_path(@jeweler) %></h3>
<table>
  <tr>
    <th style="text-align: left; padding-right:10px;"><strong>Name</strong></th>
    <th style="text-align: right; padding-right:10px;"><strong>Price (CHF)</strong></th>
    <th style="text-align: left; padding-right:10px;"><strong>Edit</strong></th>
    <th style="text-align: left;"><strong>Delete</strong></th>
  </tr>
  <% @jewels.each do |jewel| %>
    <tr>
      <td style="padding-right:10px;"><%= link_to jewel.name, jeweler_jewel_path(@jeweler, jewel) %></td>
      <td style="text-align: right; padding-right:10px;"><%= display_price(jewel.price) %></td>
      <td style="padding-right:10px;"><%= link_to "Edit", edit_jeweler_jewel_path(@jeweler, jewel) %></td>
      <td><%= link_to "Delete", [@jeweler, jewel], data: { turbo_method: :delete } %></td>
    </tr>
  <% end %>
</table>