<% content_for :title, @stone_type.new_record? ? "New Stone Type" : "Edit "+@stone_type.name %>
<h1><%= @stone_type.new_record? ? "New Stone Type" : "Edit "+@stone_type.name %></h1>

<%= form_with model: @stone_type do |form| %>
  <%= render partial: 'layouts/errors', locals: { obj: @stone_type } %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>